#Agenda {

    .voltar {
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 25px;
        margin-right: 25px;
    }

    header p {
        font-size: 35px;
        border-bottom: 2px solid #000000;
        color: #000000;
        margin: 0;
        height: max-content;
    }

    .flex {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;

    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 5px;
        height: max-content;
        margin: 40px 0;
    }

    .letradiferente {
        color: #FFF;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -1.645px;
        margin: 0;

    }

    div p {
        color: #FFF;
        font-family: Krona One;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: -1.225px;
        margin: 0;
    }

    main {
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: #000000;
        border-radius: 25px 25px 0 0;
    }
    
    .container {
        width: 373px;
        height: 150px;
        flex-shrink: 0;
        border-radius: 10px;
        position: relative;
    }

    #parkour {
        background: url(/img/parkour.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        background-color: red;
    }

    #fitdance {
        background: url(/img/fitdance.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    #pilates {
        background: url(/img/pilates.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    #cross {
        background: url(/img/cross.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    #local {
        background: url(/img/local.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    #muaythai {
        background: url(/img/muaythay.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    #kickboxing {
        background: url(/img/KICKBOXING.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    #jiujitsu {
        background: url(/img/jiujitsu.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #000000;
        justify-content: space-around;
        padding: 10px;
    }

    footer button {
        background-color: transparent;
        border: none;
    }
}