#Ficha {
    header {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;
    }

    .voltar {
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 25px;
        margin-right: 25px;
    }

    header p {
        font-size: 35px;
        border-bottom: 1px solid #000000;
        color: #000000;
        margin: 0;
        height: max-content;
    }

    .flex {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;

    }

    main {
        height: 60%;
        display: flex;
        align-items: center;
        background-color: #000000;
        width: 100%;
        height: 100%;
        border-radius: 30px 30px 0px 0px;
        flex-direction: column;
    }

    .titulo {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: flex-end;
    }

    .titulo .text {
        font-size: 1.7rem;
        width: 40%
    }

    .titulo .text span {
        font-weight: 300;
        font-size: .9em;
    }

    .textvideo {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffffff;
    }

    .container {
        width: 90%;
        height: 250px;
        flex-shrink: 0;
        border-radius: 10px;
        overflow: hidden;
        background: url(img/gluteo.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    section>div {
        display: flex
    }

    section>div>input {}
}