#Perfil {
    header {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;
    }

    .voltar {
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 25px;
        margin-right: 25px;
    }

    header p {
        font-size: 35px;
        border-bottom: 2px solid #000000;
        color: #000000;
        margin: 0;
        height: max-content;
    }

    .flex {
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000000;

    }

    main {
        height: 90%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .user {

        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user h1,
    .user h3 {
        margin: 0;
    }

    .user h3 {
        color: #00000049
    }

    .img {
        background-color: transparent;
        width: 143px;
        height: 143px;
        border-radius: 100px;
        border: none;
        overflow: hidden;
        padding: 0;
        border: 4px solid;
    }

    .img img {
        width: 100%;
        height: 100%;
    }

    .opcoes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .opcoes button {
        height: 100%;
        background-color: transparent;
        border: none;
        border-top: #000000 solid 1px;
        font-size: 20px;
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #000000;
        justify-content: space-around;
        border-radius: 20px 20px 0 0;
        padding: 10px;
    }

    footer button {
        background-color: transparent;
        border: none;
    }
}